<?xml version="1.0"?>
<launch>

  <param name="/ur_driver/prevent_programming" value="true"/>
  
  <include file="$(find ur_modern_driver)/launch/ur5_bringup_compatible.launch">
    <arg name="robot_ip" value="172.22.22.2"/>
  </include>
  
  <include file="$(find realsense_camera)/launch/r200_nodelet_default.launch"/>

  <node pkg="aruco_ros" type="single" name="aruco" ns="camera/color">
    <remap from="/image" to="image_raw" />
    <remap from="/camera_info" to="camera_info" />
    <param name="image_is_rectified" value="True"/>
    <param name="marker_size"        value="0.1"/>
    <param name="marker_id"          value="01"/>
    <param name="camera_frame"       value="camera_link"/>
    <param name="marker_frame"       value="marker" />
    <param name="corner_refinement"  value="SUBPIX" />
  </node>
  
  <node pkg="rviz"
	type="rviz"
	name="rviz"
	args="-d $(find demo2)/demo2.rviz">
  </node>

</launch>
